@import "../../../globalStyles/Variables.scss";

.header {
    height: 60px;
    background-color: $colorContrast;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: $colorText;
}

a {
    text-decoration: none;
    color: $colorText;
}